@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Grape+Nuts&display=swap');

:root {
    --primary-color: #2d8eaf;
    --secondary-color: #25383e;
    --accent1--color: lightgrey;
    --accent2-color: grey;

    --heading-font: 'Grape Nuts', cursive; 
    --paragraph-font:'Dosis', san-sarif; 

    --nav-background-color:var(--accent1--color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--accent2-color);

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header{
    padding: 20px;
    background-color: var(--accent1--color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

p{
    padding: 25px;
}

#hero {
    position: relative; 
}

#hero img {
    display: block;
    width: 100%; 
    height: auto; 
    position: relative;
}

#hero h1{
    position: relative;
    text-align: center;
}

#hero article{
    position: absolute;
    float: right; 
    background-color: lightcyan;
    opacity: 1; 
}