@font-face{
    font-family: "Dosis";
    src: url(Dosis-VariableFont_wght.ttf);
}

@font-face{
    font-family: "Grape Nuts";
    src: url(GrapeNuts-Regular.ttf);
}

:root {
    --primary-color: #2d8eaf;
    --secondary-color: #25383e;
    --accent1--color: #AD884B;
    --accent2-color: seagreen;

    --heading-font: url(GrapeNuts-Regular.ttf), serif;
    --paragraph-font: url(Dosis-VariableFont_wght.ttf), serif;

    --nav-background:var(--accent1--color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--accent2-color);

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header{
    padding: 20px;
    background-color: var(--accent1--color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}